html {
  background-color: #d4bc9f;
}

.sidebar {
  /*border: 3px solid red;*/
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #dbcbb6;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: auto;
}

.sidebar-title {
  /*border: 3px solid rgb(128, 41, 0);*/
  margin-inline: auto;
  margin-bottom: 100px;
  border-bottom: 2px solid #42382e;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 15px;
  font-size: 45px;
  color: #42382e;
}

.sidebar a {
  /*border: 3px solid lightseagreen;*/
  display: block;
  color: #42382e;
  text-decoration: none;
  margin-bottom: 60px;
  padding-left: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 23px;
  background-color: #f5f2f0;
}

.sidebar a.active {
  background-color: #42382e;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #42382e;
  color: white;
}

.header h1 {
  display: flex;
  border-bottom: none;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: center calc(100% - 12px);
  background-size: 800px 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 40px;
  font-size: 60px;
}

.content {
  margin-left: 290px;
  padding: 20px 40px 40px 40px;
  display: flex;
  flex-direction: column;
}

.account-details {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.account-details button {
  width: fit-content;
  font-family: inherit;
}

.title-border {
  border: 1px solid #42382e;
  border-radius: 10px;
  padding: 6px;
  width: fit-content;
}

.personal-info-box {
  margin-left: 20px;
}

.link-border {
  border: 1px solid #42382e;
  border-radius: 10px;
  padding: 6px;
  width: fit-content;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.home-button {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  left: 265px;
}

.button-border {
  border: 1px solid #42382e;
  border-radius: 10px;
  padding: 6px;
  width: fit-content;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}