body {
 /* border: 3px solid green; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d4bc9f;
}

h1{
    /*border: 3px solid blue; */
    font-size: 70px;
    color: #ffffff;
    text-align:start;
    position:fixed;
    left: 50%;
    top: 200px;
    transform: translate(-50%, -50%);
}