body {
 /* border: 3px solid green; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d4bc9f;
}

h1{
    /*border: 3px solid green; */
    font-size: 70px;
    color: #ffffff;
}

h1 {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.input-container-password {
    margin-top: 20px;
}

.input-container {
    position: relative;
    top: 100px;
}

.input-container-password {
    position: relative;
    top: 100px;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-container1 {
    display: flex;
    justify-content: left;
    max-width: 200px;
    height: auto;
}