body {
 /* border: 3px solid green; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d4bc9f;
}

h1{
    /*border: 3px solid blue; */
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translate(-50%, -50%);
}


.input-container {
    /*border: 3px solid green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.input-password {
       /* border: 3px solid yellow;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 380px;
        transform: translate(-50%, 0);
        color: #ffffff;
    }

.image-container1 img{
    /*border: 3px solid blue;*/
    position: absolute;
    top: 0;
    left: 80px;
    max-width: 250px;
}
.image-container0 img{
    /*border: 3px solid blue;*/
    position: absolute;
    top: 0;
    right: 80px;
    max-width: 250px;
}

.button-container1 {
    /*border: 3px solid red; */
    margin: 10px auto; 
    display: flex;
    justify-content: center;
}

#togglePassword {
    margin-left: 0;
}

.input-container labe[for="password"],
.input-container #password,
.input-container #togglePassword {
    margin-left: 0;
}