body {
    /* border: 3px solid green; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d4bc9f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    /*border: 3px solid blue; */
    font-size: 70px;
    color: #ffffff;
    text-align: center;
}

.email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-container {
    width: 100px;
}

.image-container2 img {
    /*border: 3px solid blue;*/
    position: absolute;
    top: 0;
    left: 80px;
    max-width: 250px;
}

.image-container3 img {
    /*border: 3px solid blue;*/
    position: absolute;
    top: 0;
    right: 80px;
    max-width: 250px;
}

.singup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: -80px;
}