html {
  background-color: #d4bc9f;
}

/*body {
    /*border: 3px solid cyan;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

.sidebar {
  /*border: 3px solid red;*/
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #dbcbb6;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: auto;
}

.sidebar-title {
  /*border: 3px solid rgb(128, 41, 0);*/
  margin-inline: auto;
  margin-bottom: 100px;
  border-bottom: 2px solid #42382e;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 15px;
  font-size: 45px;
  color: #42382e;
}

.sidebar a {
  /*border: 3px solid lightseagreen;*/
  display: block;
  color: #42382e;
  text-decoration: none;
  margin-bottom: 60px;
  padding-left: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 23px;
  background-color: #f5f2f0;
}

.sidebar a.active {
  background-color: #42382e;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #42382e;
  color: white;
}

.header h1 {
  display: flex;
  border-bottom: none;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: center calc(100% - 12px);
  background-size: 800px 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 250px;
  margin-top: 40px;
  padding-bottom: 40px;
  font-size: 60px;
}

.dumplings-container img {
  width: 150px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.dumplings-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  padding-left: 0px;
}

.ramen-container img {
  width: 150px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.ramen-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  padding-left: 10px;
}

.beefnoodle-container img {
  width: 150px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.beefnoodle-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  padding-left: 10px;
}

.butterchicken-container img {
  width: 150px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.butterchicken-container {
  /*border: 3px solid green;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  padding-left: 0px;
}

.recipe-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 290px;
  gap: 60px;
  flex-wrap: wrap;
}


.sushi-container img {
  width: 150px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.sushi-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  padding-left: 0px;
}

.padthai-container img {
  width: 150px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.padthai-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  padding-left: 10px;
}

.bibimbap-container img {
  width: 150px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.bibimbap-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  padding-left: 10px;
}

.miso-container img {
  width: 150px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.miso-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  padding-left: 10px;
}

.recipe-container2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 290px;
  gap: 60px;
}

.searchbar {
  overflow: hidden;
  font-size: 20px;
}

.searchbar input[type=text] {
  float: right;
  padding: 6px;
  border-radius: 20px;
  margin-top: 8px;
  margin-right: 16px;
}

.home-button {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  left: 265px;
}

.auto-complete {
  text-decoration: none;
}

.auto-complete-title {
  font-size: 18px;
  color: #42382e;
  margin: 0;
}

#recipe-results-container {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  max-height: 200px;
  overflow-y: auto;
  width: 300px;
  z-index: 1000;
  top: 49px;
  right: 20px;
  padding: 10px;
  border-radius: 10px;
}