body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d4bc9f;
}

#my-body {
    display: grid;
    grid-template-areas:
        "title title"
        "divider divider"
        "subtitle subtitle"
        "recipe-image steps"
        "ingredients steps";
}

#title {
    grid-area: title;
    text-align: center;
    font-size: 25px;
}

#divider {
    grid-area: divider;
    width: 70%;
    border: 1px solid black;
}

#subtitle {
    grid-area: subtitle;
    text-align: center;
}

#recipe-image {
    grid-area: recipe-image;
}

#recipe-image img {
    width: 300px;
    height:300px;
    border-radius: 10px;
    object-fit: cover;
}

#ingredients {
    grid-area: ingredients;
}

#steps {
    grid-area: steps;
}



